{% extends "learning_logs/base.html" %}

{% block page_header %}
<h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    <h1>
        Topics
    </h1>
    <ul>
        {% for topic in topics %}
            <li><h3> <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a> </h3></li>        
            <li><h3> <a href="{% url 'learning_logs:new_topic' %}">Add Topic</a> </h3></li>        
            {% empty %}
            <li><h3> The list is empty </h3></li>
            <li><h3><a href="{% url 'learning_logs:new_topic' %}">Add Topic</a></h3></li>
        {% endfor %}
    </ul>
{% endblock content %}